
.firstpage div {
    height: 300px;
    width: 150px;
    font-size: 30px;
}
.firstpage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d1e9f1;
}