/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 500px;
    line-height: 0px;
    background: #fff;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }